.bg {
    background-color: #18191B;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
}

button {
    background-color: transparent;
}

.main-button {
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    background-color: #80BFFF;
}
